@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'SSM';
    src: font-url(../../public/font/sans-serif-medium.ttf) format('truetype');
  }
}

@media (max-width: 640px) {
  .bitch-sec {
    height: 40rem;
  }
}
@media (max-width: 1920px) {
  .bitch-sec {
    height: auto;
  }
}

input[type=range]::-webkit-slider-thumb {
  background-color: #50d083 !important;
}
